if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'

@import 'https://cdn.jsdelivr.net/gh/Misaka-2020/Debris/Custom_css/back.min.css'

// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'
@import 'custom.css'

// search
if hexo-config('algolia_search.enable')
  @import '_search/index'
  @import '_search/algolia'

if hexo-config('local_search') && hexo-config('local_search.enable')
  @import '_search/index'
  @import '_search/local-search'
